@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Nerves Dashboard</h1>

<p>
Nerves is your best accounts system.
<br>
And now you are visiting its dashboard website.
</p>

<footer>
    <p>Powered by <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a></p>
</footer>
