<div class="top-row ps-3 navbar navbar-dark site-title-row">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Nerves Dashboard</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                &nbsp;&nbsp;&nbsp;&nbsp;<Icon Name="IconName.HouseDoorFill" Size="IconSize.x4" />&nbsp;&nbsp; Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account">
                &nbsp;&nbsp;&nbsp;&nbsp;<Icon Name="IconName.PersonFill" Size="IconSize.x4" />&nbsp;&nbsp; Account
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                &nbsp;&nbsp;&nbsp;&nbsp;<Icon Name="IconName.PeopleFill" Size="IconSize.x4" />&nbsp;&nbsp; Users
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
